body {
    background-color: black;
    color: white;
    
    background-image: linear-gradient(rgba(0,0,0,0.928), rgba(0,0,0,0.928)), url("../image/pub.jpg");
	background-size: cover;
    background-position-x: 100px;
    background-blend-mode: luminosity;
}

hr{
    margin: 0;
}

#side{
	display:inline-block;
    border-right: 2px solid white;
    width: 450px;
    height: 929px;

    text-align: center;
    align-items: center;
    
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../image/cillian.jpg");
	background-size: cover;
    background-position-x: -30px;
}

#wel{
    font-family: "Dancing Script";
    font-size: 36px;
}

#title{
	display: inline-block;
	position: absolute;
    font-family: "Nanum Brush Script";
    font-size: 40px;
    
    margin-top: 150px;
    margin-left: 400px;
}

#profile{
    width: 100px;
    height: 100px;
}

input[name='user_id'], input[name='sel']{
	display: none;
}

.menu{
    font-family: "Nanum Brush Script";
    font-size: 35px;
    margin: 40px 0px;

    cursor: pointer;
    text-transform: capitalize;
    
    /* border: 1px solid #fff; */
    border: none;
    font-family: "Nanum Brush Script";
    background-color: transparent;
    color: white;
    border-radius: 5%;

    background-image: linear-gradient(0, #fff, #fff);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}
.menu:hover{
    background-size: 100%;
    color: #000;
}

.field {
    display:inline-block;
    position: absolute;
    border: 1px solid white;
    border-radius: 10%;
    border-left-style: hidden;
    font-family: "Nanum Brush Script";
    
    width: 700px;
    height: 600px;
    margin-top: 200px;
    margin-left: 400px;

    text-align: center;
    align-items: center;
    align-content: center;
}

#inp1 {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 150px;
}

.inp1_ani {
    animation: fadeInLeft;
    animation-duration: 1s;
}

#inp2 {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 150px;
    
    
}

.inp2_ani {
    animation: fadeInLeft;
    animation-duration: 1.3s;
}

#inp3 {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 150px;
    
    
}

.inp3_ani {
    animation: fadeInLeft;
    animation-duration: 1.6s;
}

#inp4 {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 150px;
}

.inp4_ani {
    animation: fadeInLeft;
    animation-duration: 1.9s;
}

#inp5 {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 150px;    
}

.inp5_ani {
    animation: fadeInLeft;
    animation-duration: 2.2s;
}

.inp {
    position: relative;
    width: 50%;
    height: 50px;
    
    font-size: 30px;
}

.inp input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0 none;
    color: #fff;
    outline: none;
    border: 2px solid #fff;
    border-radius: 10px;

    background-color: #000;
    border-color: #fff;
    
    font-size: 18px;
}

.inp label {
    position: absolute;
    right: 0%;
    bottom: 0;
    width: 140%;
    height: 95%;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: left;
    pointer-events: none;
    
}

.btn {
	display: inline-block;
    margin: 0 0.1rem;
    margin-top: 20px;
    
    border: 1px solid #fff;
    font-family: "Nanum Brush Script";
    background-color: transparent;
    color: white;
    border-radius: 5%;
    font-size: 25px;
    
    width: 80px;
    height: 40px;
    cursor: pointer;
    text-transform: capitalize;
    
    background-image: linear-gradient(0, #fff, #fff);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}

.btn:hover {
    background-size: 100%;
    color: #000;
}


#modal-wrap {
	display: none;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:500px;
	height:300px;
	background:#fff;
	z-index:1000;
	color: black;
	border: 10px double black;
	font-family: "Nanum Brush Script";
	font-size: 30px;
}

#modal-wrap hr {
	border: 1px solid black;
}

#inner {
	text-align: center;
}

#set {
    display: inline-block;
    margin: 0 0.1rem;
    margin-top: 40px;
    
    border: 1px solid #000;
    font-family: "Nanum Brush Script";
    background-color: transparent;
    color: black;
    border-radius: 5%;
    font-size: 25px;
    
    width: 80px;
    height: 40px;
    cursor: pointer;
    text-transform: capitalize;
    
    background-image: linear-gradient(0, #000, #000);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}

#set:hover {
    background-size: 100%;
    color: #fff;
}

#frame {
	display: inline-block;
	width: 35px;
	height: 35px;
	position: absolute;
	box-sizing: border-box;
	background: #000;
	left: 466px;
}

#close {
	width: 30px;
	height: 25px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

#close::before, #close::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background: #fff;
	transition: .3s ease-in
}

#close::before {
	top: 44%;
	transform: rotate(45deg);
}

#close::after {
	bottom: 51%;
	transform: rotate(-45deg);
}

#close:hover::before {
	top: 0;
	transform: rotate(0deg);
}

#close:hover::after {
	bottom: 0;
	transform: rotate(0deg);
}

#close div {
	position: absolute;
	top: 6px;
	left: 2px;
	font-size: 13px;
	color: white;
	text-align: center;
	opacity: 0;
	transition: .3s;
	color: white;
	text-decoration: none;
}

#close:hover div {	
	opacity: 1;
}

#inp6 {
    position: relative;
    width: 80%;
    height: 50px;
    
    margin-left: 30px;
}

#inp6 input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0 none;
    color: #000;
    outline: none;

    background-color: #fff;
    border-color: #000;
}

#inp6 label {
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #555;
    text-align: left;
    pointer-events: none;
}

#inp6 label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #000;
    transition: all .3s ease;
}

#inp6 label span {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all .3s ease;
}

#inp6 input:focus + label span, #inp6 input:valid + label span {
    transform: translateY(-30px);
    font-size: 20px;
    color: #000;
}

#inp6 input:focus + label::after, #inp6 input:valid + label::after {
    width: 100%;
    transform: translateY(0);
}

#exc {
    position: absolute;
    width: 20px;
    height: 20px;

    margin-top: 20px;
}

#exc_text {
    position: absolute;
    display: none;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #000;
    color: #fff;
    margin-top: 45px;
    width: 150px;
    padding: 5px 10px;
}

#exc:hover + #exc_text {
    display: inline-block;
}
